@font-face {
  font-family: "BYekan";
  src: url(../../fonts/b-yekan/Yekan.ttf);
}

body {
  font-family: "BYekan" , sans-serif;
  direction: rtl;
}

.full-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "head" "mai" "foo";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mai;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: foo;
}

.nav-mine {
  background-color: rgba(0, 0, 0, 0.726);
}

.nav-mine ul {
  font-size: 20px;
}

.nav-mine h3 {
  font-size: 25px;
}

#navbar {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 25px 0px;
}

.welcome {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url(../images/header-img.jpeg) center center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/header-img.jpeg) center center;
  height: 100vh;
  font-size: 30px;
}

.welcome h6 {
  font-size: 20px;
}

.mar-50 {
  margin: auto 25% auto auto;
}

.nav-item.active .nav-link,
.nav-item:focus .nav-link,
.nav-item:hover .nav-link {
  text-decoration: none;
  color: #467ac4 !important;
}

@media screen and (min-width: 768px) {
  .head-ul {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .photox {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
  color: white;
}

.our-mission {
  background-color: #1b1f22;
}

.titr {
  width: 150px;
  border-bottom: 3px solid white;
  position: relative;
  margin: auto 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.titr-muted {
  width: 200px;
  border-bottom: 3px solid gray;
  position: relative;
  margin: auto 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.titr-card {
  width: 150px;
  border-bottom: 1px solid white;
  position: relative;
  margin: auto 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-7 {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-8 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
}

.pad-r {
  padding-right: 70px;
}

.wrap {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap.auto-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px;
}

/* collection */
.img-1 {
  padding: 0;
  max-width: 100%;
  -webkit-box-shadow: 2px 2px 30px black;
          box-shadow: 2px 2px 30px black;
}

.h4-c {
  width: 70%;
  background-color: rgba(128, 128, 128, 0.747);
  text-align: left;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-33%, 0);
          transform: translate(-33%, 0);
  font-size: 20px;
  color: white;
}

.img-2 {
  padding: 0;
  max-width: 100%;
}

.my-car {
  background-color: #292727;
}

.img-3 {
  width: 160px;
  height: 90px;
  border-radius: 50%;
}

.zard {
  background-color: transparent;
  color: yellow;
}

.img-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.4))), url(../images/pricing-card-bg.jpeg) center center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../images/pricing-card-bg.jpeg) center center;
  -webkit-box-shadow: 2px 2px 30px black;
          box-shadow: 2px 2px 30px black;
  width: 100%;
}

.tr-bg {
  background-color: transparent;
}

.list-group .list-group-item {
  border: none;
  border-bottom: 1px solid white;
}

.img-5 {
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.1) 50%), url(../images/form-img.jpeg) center center;
}

.inp-style {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #999;
  border-radius: 0;
}

.inp-style:focus {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid #dc3545;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */